.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.recipes__title {
  color: #ffff;
  display: flex;
  max-width: 580px;
  margin: 0;
  padding-left: 80px;
  padding-top: 100px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  color: #ffff;
  max-width: 438px;
  padding-top: 24px;
  padding-left: 80px;
  margin: 0;
  font-family: "Noto Serif", "Times New Roman", Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  column-gap: 40px;
  padding-bottom: 215px;
}

.recipes__videos-aeropress,
.recipes__videos-french {
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  margin: 0;
}

.recipes__iframe {
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", "Arial", "Sans-Serif";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  padding-top: 24px;
  margin-top: 0;
  margin-bottom: 0;
}
