.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", "sans-serif";
  font-size: 16px;
  line-height: 20px;
}

.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-color: #ffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.nav {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: #1f69c9;
}

.logo {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 125px;
  height: 142px;
}

.nav__links {
  display: flex;
  margin-top: 30px;
  margin-bottom: 0;
  margin-right: 80px;
  column-gap: 20px;
  align-items: center;
  padding: 0px;
  list-style-type: none;
  z-index: 1;
  margin-left: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__title {
  display: flex;
  max-width: 729px;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  position: relative;
  top: 202px;
  left: 80px;
}

.header__span-accent {
  display: block;
  position: absolute;
  top: -80px;
  max-width: 729px;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2F80ED;
}

.header__description {
  position: relative;
  left: 80px;
  top: 233px;
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

/* use absolute positioning */
.header__image {
  position: absolute;
  max-width: 646px;
  max-height: 568px;
  top: 124px;
  right: 5px;
  z-index: 0;
}

.header__paragraph {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  bottom: 40px;
  left: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin-top: auto;
  padding: 40px 80px 0;
  box-sizing: border-box;
}

.header__footer-address {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  bottom: 40px;
  right: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.recipes__title {
  color: #ffff;
  display: flex;
  max-width: 580px;
  margin: 0;
  padding-left: 80px;
  padding-top: 100px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  color: #ffff;
  max-width: 438px;
  padding-top: 24px;
  padding-left: 80px;
  margin: 0;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  height: 100vh;
  column-gap: 40px;
  padding-bottom: 215px;
}

.recipes__videos-aeropress,
.recipes__videos-french {
  color: #ffff;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  margin: 0;
}

.recipes__iframe {
  padding-bottom: 24px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
}

.reservation {
  background-color: #D9E7FF;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.reservation__title {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 80px;
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 120px;
}

.form__fieldset {
  border: none;
}

.form__label {
  display: block;
  padding-bottom: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  width: 385px;
  height: 60px;
  border-radius: 4px;
  margin-bottom: 32px;
  padding-left: 10px;
  padding-right: 10px;
}

.form__input::placeholder{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button {
  color: white;
  background-color: #2f80ed;
  width: 385px;
  height: 60px;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.5s ease;
  margin-bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
}

.form__label[for="checkbox"] {
  display: inline;
  vertical-align: middle;
  margin-bottom: 120px;
}